JWT_SECRET=9f3niTAR1XzzLrHfP/zTRT4dkU+Xp4ReMhdi1+xPYl8RK41jGRxhrc03uN3HC3tkzZPi5Wp9LtNQgxZaWr4+vA==
JWT_EXPIRATION_MS=86400000
JWT_REFRESH_EXPIRATION_MS=604800000

APP_SEED_ENABLED=false
APP_SEED_PASSWORD=

APP_INTERNAL_API_KEY=change-me-internal-api-key

OLLAMA_BASE_URL=http://host.docker.internal:11434
OLLAMA_MODEL=llama3.2:1b

DB_USER=postgres
DB_PASSWORD=admin